/* :hover - მოქმედებს ელემენტზე, როცა მასზე მაუსის კურსორი გადაადგილდება */
/* a:hover {
    color: red;
  } */
/* :visited - მოქმედებს ლინკზე, რომელიც უკვე ნანახია */
/* a:visited {
    color: purple;
  } */
/* :link - მოქმედებს ლინკებზე, რომლებიც ჯერ არ არის მონახულებული */
/* a:link {
    color: blue; /* ეს ფერი გამოჩნდება იმ ლინკებზე, რომლებიც ჯერ არ არის გახსნილი
  } */
  
  /* :active - მოქმედებს ელემენტზე, რომელიც არის აქტიურ მდგომარეობაში (მაგალითად, ლინკზე დაჭერის მომენტში) */
  /* /* a:active {
    color: red; /* ეს ფერი გამოჩნდება ლინკზე, როცა მასზე დააჭერთ 
    }*/